/* No
  media
  query
  since
  this
  is
  the
  default
  in
  Bootstrap
  Small
  (sm)
  devices
  (landscape phones, 576px and up)
  @media
  (min-width: 576px) {
}

Medium (md) devices (tablets, 768px and up) @media (min-width: 768px) {
}

Large (lg) devices (desktops, 992px and up) @media (min-width: 992px) {
}

Extra
  (xl)
  large
  devices
  (large desktops, 1200px and up)
  @media
  (min-width: 1200px) {
} */

/*-- Bootstrap Mobile getalluserswhoGutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* Top bar*/

.top-bar {
  background: #141212;
  height: 2.8rem;
  padding: 0.5rem 0;
}
.bg-gray {
  background: #514d4c;
}

.bg-darkbg {
  background: #121214 !important;
  color: white !important;
}
.bg-darker {
  background: rgb(20, 18, 18);
  background: linear-gradient(
    180deg,
    rgba(20, 18, 18, 1) 32%,
    rgba(81, 77, 76, 1) 68%
  );
}
.text_white {
  color: white;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
/* Nav bar*/
.navbar-brand img {
  height: 4.5rem;
}
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem, 5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-item {
  padding: 0.5rem;
}

.nav-link.active,
.nav-link:hover {
  color: #ffffff !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

footer {
  background-color: #514d4c;
  padding: 1rem 2rem 3rem;
}

footer .img {
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p,
footer a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
}

.socket {
  background-color: #141212;
  border-top: 1rem solid #141212;
}

#carousel {
  box-shadow: 0 0.1rem, 5rem rgba(0, 0, 0, 1);
  border: #141212;
}

.carousel-inner {
  max-height: 45rem !important;
}

.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-sh {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 1rem;
}
.bg-sh:hover {
  background-color: rgba(0, 0, 0, 1);
}

.formcon {
  margin: auto;
  justify-content: center;
  display: flex;
  position: relative;
}

.shadowbox {
  box-shadow: 0 0.1rem, 5rem rgba(0, 0, 0, 1);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-op {
  opacity: 0.9;
}

.bg-op:hover {
  opacity: 1;
}

.bg-darkfooter {
  background: rgb(20, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(20, 18, 18, 1) 32%,
    rgba(81, 77, 76, 1) 68%
  );
}

.menu {
  background: #514d4c !important;
}

.rightbtn {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.thead-darkbg {
  background: #141212 !important;
  color: white;
}

.table-responsive {
  border: 5px solid;
}

.btn-bord {
  border: 1px solid white !important;
  height: 50px;
  margin-left: 10px;
}

.table-darkbg {
  color: black !important;
  background: rgb(199, 199, 199);
  background: linear-gradient(
    0deg,
    rgba(199, 199, 199, 1) 2%,
    rgba(119, 119, 119, 1) 10%,
    rgba(119, 119, 119, 0.5329482134650736) 90%,
    rgba(199, 199, 199, 1) 98%
  );
}
.table-darkbg:hover {
  color: black !important;
  background: rgb(199, 199, 199);
  background: linear-gradient(
    0deg,
    rgba(199, 199, 199, 1) 2%,
    rgba(82, 79, 79, 1) 10%,
    rgba(82, 79, 79, 0.5329482134650736) 90%,
    rgba(199, 199, 199, 1) 98%
  );
}
.btn-gray {
  color: white !important;
  background: #514d4c;
  height: 50px;
  margin-left: 10px;
}
.w-40 {
  width: 40% !important;
  text-align: center !important;
  vertical-align: middle !important;
}
.w-80 {
  width: 80% !important;
}
.dropdown-menu {
  background: #141212 !important;
}

.fa-gear:hover {
  color: white;
}
.fa-search {
  color: white;
}

input[type="group"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #141212;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="group"]:focus {
  border: 3px solid #514d4c;
}

input[class="error"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #141212 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[class="error"]:focus {
  border: 3px solid #514d4c !important;
}

.img-bord {
  height: 300px;
  width: 300px;
}

.table-hw {
  height: 300px !important;
  width: 18rem !important;
}

.bord {
  border: 5px solid #141212;
}
.selectoption {
  border: 5px solid #141212 !important;
  font-size: 25px !important;
  font-weight: bold !important;
}

.tr-height {
  height: 400px !important;
}

.cent {
  text-align: center !important;
  vertical-align: middle !important;
}

.tr-bigcent {
  height: 600px !important;
  text-align: center !important;
  vertical-align: middle !important;
}
.tr-cent {
  height: 200px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.selectoption-sm {
  border: 3px solid #141212 !important;
  font-size: 15px !important;
  font-weight: bold !important;
}
.textarea-border {
  border: 3px solid #141212 !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

.text-center {
  text-align: center !important;
  vertical-align: middle !important;
}
.td-width {
  width: 40%;
}
.cente {
  text-align: center !important;
  vertical-align: middle !important;
}

.table-border-gray {
  background-color: #e0e0e0 !important;
}
.w-40 {
  width: 40% !important;
  border: 5px black solid;
}
.w-80-bord {
  width: 80% !important;
  border: 5px black solid;
}
.th-bg {
  background-color: black !important;
  color: #ffffff !important;
  border: #ffffff !important;
  width: 250px;
  height: 80px;
  text-align: center !important;
  vertical-align: middle !important;
}
.td-bg {
  background-color: white !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: bold !important;
}

.table-border {
  border: #141212 6px solid !important;
}
.aligncent {
  vertical-align: middle !important;
}
.sel {
  border: 5px solid #141212 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  vertical-align: center !important;
  font-weight: bold !important;
}
.w-90 {
  width: 90% !important;
}
.blck {
  border: #141212 5px solid;
}

.card-size {
  width: 350px;
  border: #141212 5px solid !important;
}

.dangerc {
  color: white !important;
}

.rederror {
  color: rgb(224, 1, 1) !important;
  font-size: 12px;
}
.imgcontainer {
  opacity: 1;
  display: block;
  background-color: #e0e0e0;
}
.imgcontainer:hover {
  transition: 0.5s ease;

  opacity: 0.5;

  background-color: #121214;
}

.card-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 16px 32px;
}
.cap {
  opacity: 1;
}
.cap:hover {
  background: #000000 !important;
  opacity: 0.7;
}
.card-img-top {
  height: 300px;
  width: 200px;
}
